// =================================================
//
// Sidebar - Nav
//
// =================================================

.sidebar-nav {
	position: relative;
	z-index: 100;
	display: none;

	ul {
		margin-bottom: 0;
	}

	li {
		border-bottom: 1px solid $dark-grey;
	}

	.sidebar-link {
		transition: background-color 0.3s ease-in-out;
		display: block;
		padding: 12px 25px;

		i {
			padding-left: 0;
			transition: padding 0.3s $ease-in-out-quart;
		}

		.no-touch &:hover {
			background-color: $dark-grey;
			i {
				padding-left: 15px;
			}
		}
	}

	@include media(medium) {
		display: block;
	}
}
