// =================================================
//
// Skills
//
// =================================================

.skills {

	.two-column {
		@include outer-container;
		margin-left: 0;
		margin-right: 0;

		.bullets {
			@include media($small) {
				@include span-columns(6);
			}

			&:first-of-type {
				margin-bottom: 0;
			}
		}
	}
}
