// =================================================
//
// Work Section
//
// =================================================

.work {

	ul {
		margin-bottom: 3.5rem;
		&.job-title {
			margin-bottom: 0;
			line-height: 1.6rem;
		}
	}

	.workplace {
		background: #fdfffa;
		border-left: 4px solid $green;
		padding: 15px 0 10px 20px;
		margin-bottom: 3rem;
	}
}
