// =================================================
//
// Work
//
// =================================================

.work {

	ul {
		margin-bottom: 4rem;
		&.job-title {
			margin-bottom: 0;
			line-height: 1.6rem;
		}
	}

	.workplace {
		background: $tan;
		border-left: 4px solid $green;
		padding: 15px 0 10px 20px;
		margin-bottom: rem(16px);
	}
}
