// =================================================
//
// Settings
//
// =================================================

// =================================================
// Colors
// =================================================

$blue:       #2cafb7;
$red:        #f36229;
$green:      #9bc03c;
$tan:        #f0f2ed;
$dark-grey:  #494d55;
$grey:       #515761;
$light-grey: #3e434b;
$white:      #ffffff;


// =================================================
// Bourbon Grid Settings
// =================================================

$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(800);


// =================================================
// Zzzzz
// =================================================

$positioned: 1;
$z-sidebar: 100;


// =================================================
// Easing Curves
// =================================================

$ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
